
<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="">
</head>

<div class="header flex flex-center col">
    <h1 class="logo f-big">AnimaDate</h1>
    <p>Práticos, divertidos e modernos</p>
    <h2>
        Convites digitais<br />
        para o seu evento
      </h2>
</div>

<div class="cards flex flex-center col">
    <h3>O que vamos festejar?</h3>

    <!-- Card Modelos -->
    <div class="cards flex flex-center">
      <!-- Casamento -->

      <a href="./casamento.html">
        <div class="card flex flex-center col">
            <i class='bx bxs-graduation icon'></i>
          <p class="card-name">Casamento</p>
          <span class="line"></span>
        </div>
      </a>

      <!-- Aniversário -->
      <a href="./aniversario.html">
        <div class="card flex flex-center col">
          <img
            src="./images/mariage.svg"
            alt="Aniversário"
            class="img-card"
          />
          <p class="card-name">Aniversário</p>
          <span class="line"></span>
        </div>
      </a>

      <!-- 15 anos -->
      <a href="./15-anos.html">
        <div class="card soon">
          <img src="./images/15y.svg" alt="15 anos" class="img-card" />
          <p class="card-name">15 anos</p>
          <span class="line"></span>
        </div>
      </a>

      <!-- Formatura -->
      <a href="./formatura.html">
        <div class="card soon">
          <img
            src="./images/university.svg"
            alt="Formatura"
            class="img-card"
          />
          <p class="card-name">Formatura</p>
          <span class="line"></span>
        </div>
      </a>
      <!-- Termina o container de cards -->
    </div>
  </div>
