// Define as cores princiais. 
$cor-primaria-site: #4dd4f6;
$cor-secundaria-site: #f6e04d;
$branco: #fafafa;

@import url(../../../animation.scss);

:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    padding: 2.5% 8%;

    background: linear-gradient(#000000b0, #00000067),
        url(./images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    width: 40vw;

    .logo {
        color: $cor-primaria-site;
        margin-bottom: 0.5rem;
        font-family: "Rancho", sans-serif;
    }

    p {
        font-size: 1.3rem;
        color: $branco;
        margin-bottom: 2rem;

    }

    h2 {
        font-size: 3rem;
        font-weight: 700;
        color: $branco;
        line-height: 3.5rem;
        margin-bottom: 2rem;
    }

    .btn-box {

        .btn {
            color: #fafafa;
            text-decoration: none;
            letter-spacing: 1px;
            transition: 0.3s;

        }

        .btn:hover {
            background-color: #fafafa;
            color: #4dd4f6;
            border: none;
            padding: 12px 36px;
        }

        .btn:active {
            transform: scale(0.7);
        }

    }
}

.cards {
    flex-wrap: wrap;
    max-width: 40vw;
    gap: 1rem;

    h3 {
        font-size: 2rem;
        color: $cor-secundaria-site;
        font-weight: 700;
        margin-bottom: 2rem;

    }

    a {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .icon {
            color: $cor-primaria-site;
            font-size: 1.5rem;
        }
    }

    .card {
        width: 100px;
        height: 100px;
        position: relative;
        background-color: $branco;
        transition: 0.3s;
        border-radius: 8px;

        :hover {
            animation: jumpAnimation 0.9s ease;
            outline: 3px solid #fafafa;
        }

    }

    .card:not(:hover) {
        animation: rotateAnimation 0.9s ease;
    }
}